.a {
    display: flex;
    height: 100vh;
    align-items: center;
    
}

.a-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
    height: 100%;
}


.a-right {
    flex: 1;
    
}

.a-card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: grey;
}

.a-card {
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.a-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.a-award-img {
    width: 100px;
    height: 100px;
    border: 20px;
}

.a title {
    font-weight: 400;
}

.a-sub {
    margin: 20px 0px;
}

.a-award {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a-award-texts {
    width: 70%;
}

.a-award-title {
    font-weight: bold;
    color: gray;
    margin-bottom:10px ;
}

@media screen and (max-width: 480px) {
    .a {
        flex-direction: column;
       text-align: center;
       margin-top: 50px;
    }
    .a-left {
        width: 100%;
    }
    .a-card {
        height: 30vh;
    }
    .a-card.bg,.a-award {
        display: none;
    }
        .a-right {
            padding: 20px;
        }
    

}